// variables

//colors
$color-glob: #777;
$color-prim: #58e1c1;
$color-link: #51ddfc;
$hover: #fff;
$color-img: #ccc;

//font
$sans-serif : 'Lato', sans-serif;

$font-weight: (
    'light': 300,
    'bold': 700,
);

//breakpoints

$break-xs: 768px;

//buttons


$base-default: #51ddfc; 
$base-error: #e4757a;
$base-info: #927bc1;
$base-success: #63cc82;
$base-warning: #fd7856;

$button-light: lighten($base, 15%);