/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $hover;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all .5s ease;
    &:hover {
      background-color: $button-light;
  }
}
  
  .default {
    background-color: $base-default;
  }
  
  .error {
    background-color: $base-error;
  }
  
  .info {
    background-color: $base-info;
  }
  
  .success {
    background-color: $base-success;
  }
  
  .warning {
    background-color: $base-warning;
  }
  