/* ============================================= */
/*              Typography styles                      */
/* ============================================= */

* {
  font-family: $sans-serif;
  color: $color-glob;
  box-sizing: border-box;
}

p { 
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


.headline-primary {
    color: $color-prim;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: map-get($font-weight, 'light');
    color: $color-prim;
  }
  
  .link {
    color: $color-link;
    font-weight: map-get($font-weight, 'bold');
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: map-get($font-weight, 'light');
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-prim;
    border-radius: 5px;
  }